.root{
  -fx-background-radius: 3;
  -fx-font-size: 13;  
}

.pane{
  -fx-base: #d3d3d3;
}

.tab-pane {
  -fx-padding: 0 10 10 10;
 }
 
 .tab-header-area{
  -fx-pref-height: 35;
 }
 

.helpcontrol{
  -fx-pref-width: 120;
  -fx-pref-height: 35;
  -fx-base: #ffffff;
}

.helpcontrol:hover{
  -fx-base: #f0efef;
  -fx-base: #ffffff;
}

.turtlecontrol{
  -fx-pref-height: 30;
  -fx-pref-width: 130;
  -fx-base: #ffffff;
  
}

.tabcontrol{
  -fx-base: #ffffff;
  -fx-pref-width: 100;
  -fx-pref-height: 35;
}

.tab{
  -fx-pref-width: 40;
}

.generalcontrol{
  -fx-base: #ffffff;
  -fx-pref-width: 150;
  -fx-pref-height: 35;

}